/* tabbar.css */

#all_products {
    width: 1248px;

    color: #000;

    margin: 88px auto 0;
    text-align: center;

    overflow: hidden;
}

    h3.content_title {
        font-size: 30px;
    }

/* 탭바 디자인 */

    #tabbar {
        float: left;
    }

        #tabbar > section.tab_wrap {
            margin: 88px 22px 88px 21px;

            overflow: hidden;
        }

            #tabbar > section.tab_wrap > label {
                display: block;
                float: left;

                width: 197px;
                height: 51px;

                font-size: 24px;

                line-height: 51px;

                border : 3px solid black;
                border-right: none;
            }

            #tabbar > section.tab_wrap > label:last-child {
                border: 3px solid black;
            }

            #tabbar > input:nth-of-type(1):checked ~ section > label:nth-of-type(1),
            #tabbar > input:nth-of-type(2):checked ~ section > label:nth-of-type(2),
            #tabbar > input:nth-of-type(3):checked ~ section > label:nth-of-type(3),
            #tabbar > input:nth-of-type(4):checked ~ section > label:nth-of-type(4),
            #tabbar > input:nth-of-type(5):checked ~ section > label:nth-of-type(5),
            #tabbar > input:nth-of-type(6):checked ~ section > label:nth-of-type(6) {
                color: #fff;
                background: #000;
            }

/* 탭바 구현 */
            #tabbar > p.item_num {
                display: block;

                font-family: "Noto Sans KR";
                font-weight: 300;

                float: left;

                margin-left: 22px;
            }

                #tabbar > p.item_num > span {
                    font-family: "Noto Sans KR";

                    display: none;
                }

            #tabbar > input:nth-of-type(1):checked ~ p.item_num > span:nth-of-type(1),
            #tabbar > input:nth-of-type(2):checked ~ p.item_num > span:nth-of-type(2),
            #tabbar > input:nth-of-type(3):checked ~ p.item_num > span:nth-of-type(3),
            #tabbar > input:nth-of-type(4):checked ~ p.item_num > span:nth-of-type(4),
            #tabbar > input:nth-of-type(5):checked ~ p.item_num > span:nth-of-type(5),
            #tabbar > input:nth-of-type(6):checked ~ p.item_num > span:nth-of-type(6) {
                display: inline-block;

                font-weight: 500;
            }

            #tabbar > section.sort {
                display: block;

                float: right;

                font-weight: 300;

                margin-right: 21px;
            }

                #tabbar > section.sort > section > label {
                    cursor: pointer;
                }

                #tabbar > section.sort > input:nth-of-type(1):checked ~ section > label:nth-of-type(1),
                #tabbar > section.sort > input:nth-of-type(2):checked ~ section > label:nth-of-type(2),
                #tabbar > section.sort > input:nth-of-type(3):checked ~ section > label:nth-of-type(3),
                #tabbar > section.sort > input:nth-of-type(4):checked ~ section > label:nth-of-type(4) {
                    font-weight: 500;
                }


            #tabbar > div.item_wrap {
                display: none;

                margin: 76px 12px 0 12px;

                float: left;
            }

            #tabbar > input:nth-of-type(1):checked ~ div:nth-of-type(1),
            #tabbar > input:nth-of-type(2):checked ~ div:nth-of-type(2),
            #tabbar > input:nth-of-type(3):checked ~ div:nth-of-type(3),
            #tabbar > input:nth-of-type(4):checked ~ div:nth-of-type(4),
            #tabbar > input:nth-of-type(5):checked ~ div:nth-of-type(5),
            #tabbar > input:nth-of-type(6):checked ~ div:nth-of-type(6) {
                display: block;
            }

/* 상품 영역 디자인 */

                #tabbar > div > ul {
                    width: 1224px;
                    height: 1565px;

                    position: relative;
                    z-index: 50;
                }

                    #tabbar > div > ul > li {
                        float: left;

                        font-family:  "Noto Sans KR";
                        font-weight: 500;

                        width: 306px;
                        padding: 12px;

                        box-sizing: border-box;

                        margin-bottom: 88px;
                        position: relative;
                    }

                    #tabbar > div > ul > li:hover {
                        border: 5px solid #ad0908;

                        padding: 7px;

                        margin-bottom: 38px;
                    }

                    #tabbar > div > ul > li:hover > a > div.item_review {
                        display: none;
                    }

                    #tabbar > div > ul > li:hover > div.item_option {
                        display: block;
                    }

                    #tabbar > div > ul > li:hover > div.shop_bag,
                    #tabbar > div > ul > li:hover > div.shop_now {
                        display: block;
                    }

                        #tabbar > div > ul > li > a > img {
                            width: 282px;
                            height: 282px;
                        }

                        #tabbar > div > ul > li > div,
                        #tabbar > div > ul > li > a > div {
                            box-sizing: border-box;

                            height: 282px;
                            height: 50px;

                            color: #fff;

                            line-height: 50px;
                        }

                        #tabbar > div > ul > li > a > .item_name {
                            width: 100%;

                            background: #000;

                            display: table;

                            line-height: normal;
                        }

                            #tabbar > div > ul > li > a > .item_name > span {
                                display: table-cell;
                                vertical-align: middle;
                            }

                        #tabbar > div > ul > li > a > .item_price {
                            background: #666;
                        }

                        #tabbar > div > ul > li > a > .item_review {
                            background: #999;
                        }

                        #tabbar > div > ul > li > .item_option {
                            background: #999;

                            display: none;

                            position: relative;
                        }
                            #tabbar > div > ul > li > .item_option > h5 {
                                width: 200px;
                                height: 30px;

                                position: absolute;
                                top: 10px;
                                left: 42px;

                                box-sizing: border-box;
                                border: 2px solid #ccc;

                                line-height: 26px;

                                cursor: pointer;
                            }

                            #tabbar > div > ul > li > .item_option > ul {
                                position: absolute;
                                top: 40px;
                                left: 42px;

                                width: 200px;

                                box-sizing: border-box;
                                border: 2px solid #ccc;
                                border-top: none;
                                background: #999;

                                display: none;

                                line-height: normal;
                                padding: 10px 0 10px 0;

                                z-index: 50;
                            }

                                #tabbar > div > ul > li > .item_option > ul > li {
                                    top-margin: 10px;

                                    color: #ccc;

                                    cursor: pointer;
                                }

                        #tabbar > div > ul > li > .shop_bag,
                        #tabbar > div > ul > li > .shop_now {
                            width: 141px;

                            background: #ccc;

                            display: none;
                            float: left;

                            cursor: pointer;
                        }

                        #tabbar > div > ul > li > .shop_bag {}

                        #tabbar > div > ul > li > .shop_now {}

            #tabbar > div > .page_num {}

                #tabbar > div > .page_num > section {}

                #tabbar > div > .page_num > section > label {
                    width: 5px;
                    height: 5px;

                    font: 16px "Noto Sans KR";
                    font-weight: 300;

                    margin: 0 10px;

                    cursor: pointer;
                }

                #tabbar > div > .page_num > input:nth-of-type(1):checked ~ section > label:nth-of-type(1),
                #tabbar > div > .page_num > input:nth-of-type(2):checked ~ section > label:nth-of-type(2),
                #tabbar > div > .page_num > input:nth-of-type(3):checked ~ section > label:nth-of-type(3),
                #tabbar > div > .page_num > input:nth-of-type(4):checked ~ section > label:nth-of-type(4),
                #tabbar > div > .page_num > input:nth-of-type(5):checked ~ section > label:nth-of-type(5),
                #tabbar > div > .page_num > input:nth-of-type(6):checked ~ section > label:nth-of-type(6),
                #tabbar > div > .page_num > input:nth-of-type(7):checked ~ section > label:nth-of-type(7),
                #tabbar > div > .page_num > input:nth-of-type(8):checked ~ section > label:nth-of-type(8),
                #tabbar > div > .page_num > input:nth-of-type(9):checked ~ section > label:nth-of-type(9),
                #tabbar > div > .page_num > input:nth-of-type(10):checked ~ section > label:nth-of-type(10) {
                    font-weight: 500;
                    color: #dd0d87;
                }